/* Grid */

.grid {
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow: hidden;
}

.form {
  flex: 1  
}

.hero {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%
}

.grid div {
  padding: 1rem;
}


@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}